@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --airbus-blue: #001f59;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: black;
    font-size: 1rem;
    margin-top: 65px;
    height: 100vh;
} 

.access {
    position: absolute;
    left: -15000px;
}

.enTete {
    display: grid;
    grid-template-columns: 256px 1fr 100px;
    background-color: var(--airbus-blue);
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    z-index: 10;
}

.logo {
    height: 20%;
}

.itemNav {
    display: flex;
    justify-content: space-between;

}

.itemNav > li > a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;

}

#menuResponsive {
    color: white;
    height: 80px;
}


#contenu {
    background-image: url(../images/ciel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenuPage {
    min-height: 100vh;
}

.contenuPage p {
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    text-align: center;
}

/*article {
    background-color: white;
}
*/

h1 {
    text-align: center;
    padding-top: 40px;
}

figure {
    position: center;
}

.imgModele {
    width: 27%;
    border: solid 3px var(--airbus-blue);
    
}

iframe {
    padding-left: 40px;
}

.piedDePage {
    bottom: 0;
    background-color: var(--airbus-blue);
    height: 65px;
}

.piedDePage > p {
    color: white;
    text-align: center;
    padding-top: 20px;;
    margin-top: 0;
}


@media screen and (max-width: 768px) {
    .itemNav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    enTete {
        grid-template-columns: 256px 250px 1fr;
    }
    
    itemNav {

    }

    #menuResponsive {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    enTete {
        grid-template-columns: 256px repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {

}