@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --airbus-blue: #001f59;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: black;
    font-size: 1rem;
    margin-top: 65px;
    height: 100vh;
} 

.access {
    position: absolute;
    left: -15000px;
}

.enTete {
    display: grid;
    grid-template-columns: 256px 1fr 100px;
    background-color: var(--airbus-blue);
    width: 100%;
    height: 65px;    
    top: 0;             /* Pour que l'en-tête soit positionné sur le dessus de la page */
    position: fixed;    /* Pour que l'en-tête soit collé sur le dessus de la page */
   /* z-index: 5;*/
}

.logo {
  /*  height: 20%;*/
}

.nav ul {
    display: flex;
    flex-direction: space-around;
    justify-content: space-between;
}

.itemNav li a {
    color: white;
    text-decoration: none;

}

#menuResponsive {
    color: white;
    height: 90px;
}


#contenu {
    background: url(/images/ciel.jpg) center / cover no-repeat fixed;
}

.contenuPage {
    background-color: rgba(255, 255, 255, 0.471);
    min-height: 100vh;          /* Pour que le contenu principal s'étende au minimum sur toute la hauteur de l'écran, quel que soit la dimension */
}

.contenuPage p {
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    text-align: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   /* background-color: white;*/
}

figure {
    position: center;
}

article > p {
    font-size: 34px;
    padding-top: 40px;
    text-align: left;
}

figcaption {
    font-size: 40px;
}

.imgModele {
    min-width: 60%;
    max-width: 100%;
    height: auto;
    border: solid 3px var(--airbus-blue);
    
}

iframe {
    padding-top: 60px;
}

#A380 > p {
    margin-bottom: 0;
}

.piedDePage {
    bottom: 0;
    background-color: var(--airbus-blue);
    height: 65px;
}

.piedDePage > p {
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 0;      /* Pour que le pied de page soit positionné sur le bas de la page */
}


@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {

   enTete {
        grid-template-columns: 256px 250px 1fr;
    }

}

    #menuResponsive {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    /*    enTete {
        grid-template-columns: 256px repeat(2, 1fr);
    }
*/  

}

@media screen and (min-width: 1200px) {
    
    article {
        display: flex;
        flex-direction: row;
    }

    .piedDePage > p {

    }
    
}