@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --airbus-blue: #001f59;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: black;
    font-size: 1rem;
    margin-top: 65px;
    height: 100vh;
} 

.access {
    position: absolute;
    left: -15000px;
}

.enTete {
    display: grid;
    grid-template-columns: 256px 1fr 100px;
    background-color: var(--airbus-blue);
    width: 100%;
    height: 65px;    
    top: 0;             /* Positionne l'en-tête en haut de page */
    position: fixed;    /* colle l'en-tête en haut de page */
}

.logo {
    position: relative;
    z-index: 1000;
}



.nav {
    background-color: var(--airbus-blue);
    position: absolute;
    width: 100%;
    top: 65px;
    padding-bottom: 10px;
    display: none;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemNav li a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;

}

#menuResponsive {
    background-color: var(--airbus-blue);
    color: white;
    height: 65px;
}


#contenu {
    background: url(/images/ciel.jpg) center / cover no-repeat fixed;
}

.contenuPage {
    background-color: rgba(255, 255, 255, 0.471);
    min-height: 100vh;          /* Etend le contenu principal sur toute la hauteur de l'écran, quel que soit la dimension */
    display: grid;
    gap: 70px;         /* Espacement des articles */
}



h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}

p {
    font-size: 34px;
    text-align: left;
    padding: 40px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin: 40px;
    border-radius: 40px;
}

figure {
    position: center;
}

article > p {
    text-align: left;
}

figcaption {
    font-size: 40px;
    text-align: center;
}

.imgModele {
    min-width: 60%;
    max-width: 100%;
    height: auto;
    border: solid 3px white;
    
}

iframe {
    padding-left: 40px;
    padding-bottom: 40px;
}



.piedDePage {
    bottom: 0;              /* Positionnement du pied de page en bas de page */
    background-color: var(--airbus-blue);
    height: 65px;

}

.piedDePage > p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 0;          /* Enlèvement marge blanche au dessus */ 
    padding-bottom: 0;      /* Enlèvement bande blanche en dessous */
}


@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {

   enTete {
        grid-template-columns: 256px 250px 1fr;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }  
 
    #menuResponsive {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    enTete {
        grid-template-columns: 256px repeat(2, 1fr);
    }
  
}

@media screen and (min-width: 1200px) {
    
    article {
        display: flex;
        flex-direction: row;
        padding: 60px;
    }

    iframe {
        padding-top: 60px;
        padding-right: 40px;
    }

}