@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root 
{
    --airbus-blue: #001f59;
    --dark: #333;
    --white: #eff3f9;
}

*, *::before, *::after
{
   box-sizing: border-box;
}

*
{
   margin: 0;
   padding: 0;
}

html
{
   -webkit-font-smoothing: antialiased;
   font-family: 'Inter', sans-serif;
   font-size: 62.5%;
   font-weight: 400;
   letter-spacing: .1px;
   line-height: 1.5;
}

body 
{
   color: var(--black);
   font-size: 1.6rem;
} 

a
{
   color: inherit;
   display: inline-block;
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
   line-height: 1.2;
   text-align: center;
   text-transform: capitalize;
}

img
{
   display: block;
   object-fit: cover;
   width: 100%;
}

section
{
   background-color: var(--white);
}

ul
{
   list-style: none;
}




/* ------ UTILITAIRES ------ */

.access 
{
   position: absolute;
   left: -100rem;
}

.container
{
   margin: 0 auto;
   max-width: 120rem;
}

.d-flex
{
   display: flex;
}


/* ------ HEADER ------ */

header
{
    background-color: var(--white);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .03);
    line-height: 7rem;    
    /* Positionne l'en-tête en haut de page */
    top: 0;             
    /* Colle l'en-tête en haut de page */
    position: fixed;
    width: 100%;
}

.nav 
{
    align-items: center;
    color: var(--white);
    justify-content: space-between;
}

.logo
{
   object-fit: cover;
   width: 14rem;
}

.menu
{
   color: var(--airbus-blue);
   gap: 3rem;
}

.menu li a
{
   margin-right: 3rem;
}



/* ------ CONTENU PRINCIPAL ------ */

.principal
{
   min-height: 100vh;
   margin-top: 7rem;
   
}

.centre
{
   align-items: center;
   justify-content: center;
}

.centre div
{
   flex: 0 1 50%
}

.avion
{
   height: 199px;
   width: 434px;
}



/* ------ PIED DE PAGE ------ */

footer 
{        
   align-items: center;   
    background-color: var(--airbus-blue);
    color: var(--white);
    line-height: 7rem;
    text-align: center;
}



/* ------ RESPONSIVE ------ */

@media screen and (min-width: 576px) 
{
    
}

@media screen and (min-width: 768px) 
{
   .nav ul 
   {
      display: flex;
      flex-direction: row;
   }  

   #menuResponsive 
   {
      display: none;
   }

}

@media screen and (min-width: 998px) 
{

   enTete 
   {
      grid-template-columns: 256px repeat(2, 1fr);
   }
  
}

@media screen and (min-width: 1200px) 
{
    
   article 
   {
      display: flex;
      flex-direction: row;
      padding: 60px;
   }

   iframe 
   {
      padding-top: 60px;
      padding-right: 40px;
   }

}