@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root 
{
    --airbus-blue: #001f59;
    --black: #000627;
    --white: #fff;
}

* 
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html
{
   font-family: 'Inter', sans-serif;
   font-size: 62.5%;
}

body 
{
    color: var(--black);
    font-size: 1.9rem;
    font-weight: 400;
} 

a
{
   color: inherit;
   text-decoration: none;
}

ul
{
   list-style: none;
}




/* ------ UTILITAIRES ------ */

.access 
{
    position: absolute;
    left: -15000px;
}

.d-flex
{
   display: flex;
}


/* ------ HEADER ------ */

.enTete 
{
    background-color: var(--airbus-blue);
    width: 100%;
    height: 6.5rem;    
    /* Positionne l'en-tête en haut de page */
    top: 0;             
    /* Colle l'en-tête en haut de page */
    position: fixed;    
}



.nav 
{
   align-items: center;
    background-color: var(--airbus-blue);
    color: var(--white);
       /* gap: 3rem; */
    justify-content: space-between;
}

.logo
{
   display: inline-block;
   object-fit: cover;
   height: 7rem;
}

.menu
{
   color: var(--white);
   gap: 3rem;

}

.menu li a
{
   margin-right: 3rem;
}







#menuResponsive 
{
    background-color: var(--airbus-blue);
    color: white;
    height: 6rem;
}


#contenu 
{
    background: url(../images/ciel.jpg) center / cover no-repeat fixed;
}

.contenuPage 
{
    background-color: rgba(255, 255, 255, 0.471);
    /* Etend le contenu principal sur toute la hauteur de l'écran, quel que soit la dimension */
    min-height: 100vh;          
    display: grid;
    /* Espacement des articles */
    gap: 70px;         
}



h1 
{
    font-size: 7.9rem;
    text-align: center;
    /* padding-top: 40px; */
}

p 
{
    font-size: 34px;
    text-align: left;
    /* padding: 40px; */
}

article 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin: 40px;
    border-radius: 40px;
}

figure 
{
    position: center;
}

article > p 
{
    text-align: left;
}

figcaption 
{
    font-size: 40px;
    text-align: center;
}

.imgModele 
{
    min-width: 60%;
    max-width: 100%;
    height: auto;
    border: solid 3px white;
    
}

iframe 
{
    padding-left: 40px;
    padding-bottom: 40px;
}



/* ------ PIED DE PAGE ------ */

.piedDePage 
{
    /* Positionnement du pied de page en bas de page */
    /* bottom: 0;              */
    background-color: var(--airbus-blue);
    height: 7rem;

}

.piedDePage > p 
{
    align-items: center;
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    /* Enlèvement marge blanche au dessus */ 
    /* margin-top: 0;           */
    /* Enlèvement bande blanche en dessous */
    /* padding-bottom: 0;       */
}


@media screen and (min-width: 576px) 
{
    
}

@media screen and (min-width: 768px) 
{

   enTete 
   {
        grid-template-columns: 256px 250px 1fr;
    }

    .nav ul 
    {
        display: flex;
        flex-direction: row;
    }  
 
    #menuResponsive 
    {
        display: none;
    }

}

@media screen and (min-width: 1024px) 
{

    enTete 
    {
        grid-template-columns: 256px repeat(2, 1fr);
    }
  
}

@media screen and (min-width: 1200px) 
{
    
    article 
    {
        display: flex;
        flex-direction: row;
        padding: 60px;
    }

    iframe 
    {
        padding-top: 60px;
        padding-right: 40px;
    }

}